body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-header {
  display: flex;
  padding: 20px 0 0 20px;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  background-color: #fff;
}

.nav {
  position: fixed;
}

.nav-header-container {
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;
}

.content {
  margin-left: 260px;
}

.mobile-content {
  margin-top: 55px;
  margin-left: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.btn-next {
  margin-bottom: 10px;
}

.comment-level-1 {
  padding-left: 8px;
}
.comment-level-2 {
  padding-left: 16px;
}
.comment-level-3 {
  padding-left: 32px;
}
.comment-level-4 {
  padding-left: 40px;
}
.comment-level-5 {
  padding-left: 48px;
}
.comment-level-6 {
  padding-left: 56px;
}
.comment-level-7 {
  padding-left: 64px;
}
